<!DOCTYPE html>
<html>
<head>
    <title>My Name</title>

    <link rel="stylesheet" type="text/css" href="autoFillBarSkillSectionResume.css">
    <script src="https://kit.fontawesome.com/0331834e35.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- This page will render first -->
    
    <a href="/api/projects/projectsPage" >
        <img style="opacity: 0.8; " height="100%" width="100%" src="/images/pasted-image-0-101.png">
        <div style="position:absolute; left:25%; top:35%;color:rgba(204, 250, 2, 0.989) " >
            <h1 style="font-size:4rem;"> Welcome To Issue-Tracker </h1>
            <h1 style="margin-left: 30%; color:rgb(249, 111, 5)">click on the page</h1>

        </div>
    </a>
    

</body>
</html> 